<div id="documentation" class="documentation grid-container">
    <div class="search-bar">
       @Html.BackButton()
        <form class="search-form">
            <div class="search-input-wrapper">
                <input type="search" class="input search" />
                <button class="button button--circle search-button">
                    @Html.SvgIcon("search")
                </button>
            </div>
        </form>
    </div>
    <ul id="documentation-nav-pages-list" class="left-bar vert-list">
    </ul>
    <main id="documentation-content" class="content">
        
    </main>
</div>

<template id="template-left-bar-list-item">
    <li class="vert-list__item">
        <a class="vert-list-button a-spa" href="/template-nav"></a>
    </li>
</template>