<div id="documentation" class="documentation grid-container">
    <div class="search-bar">
        <form>
            <div class="search-input-wrapper">
                <input type="search" class="input search" />
                @Html.SvgIcon("search")
            </div>
        </form>
    </div>
    <ul class="left-bar vert-list">
        <li>
            <button>Text 1</button>
        </li>
        <li>
            <button>Text 1</button>
        </li>
        <li>
            <button>Text 1</button>
        </li>
    </ul>
    <main class="content">
        content 
    </main>
</div>
